.container {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	/*line-height: 2em;*/
	/*font-size: 120%;*/

}

.name {
	font-family: 'Droid Sans', sans-serif;
	font-weight: 700;
	font-size: 300%;
}

.header {
	font-family: 'Droid Sans', sans-serif;
	/*font-weight: 700;*/
	font-size: 250%;
}

.title {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 200%;
}

.content {
	font-family: 'Lora', serif;
	font-size: 120%;
	text-align: center;
}

.wrap {
	width: 50%;
}

.page-nav  {
	/*width: 100%;
	background-color: #E0E0E0;
	display: inline-block;*/
	font-size: 140%;
}

a {
	text-decoration: none;
	color: #404040;
}

.page-nav li {
	margin-right: 5%;
	float: right;
	padding-bottom: 20px;
	font-weight: 500;
	display: inline-block;
}

/*.logo {*/
	/*display: inline-block;*/
	/*background-color: grey;*/
	/*font-family: 'Droid Sans', sans-serif;*/
	/*font-size: 400%;*/
	/*margin-left: 3%;*/
/*}*/

.arrow, .intro, .name, .title, .header, .content, .about, .projects, .skills, .skills, .blog, .contact, .footer, .page-nav ul, .more-me {
	display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
	text-align: center;
	display: block;
	margin-bottom: 0.3125em;
}

/*.img-me {
	margin-right: 3%;
	float: left;
	border-radius: 100px;
	display: inline-block;
}*/

.intro {
	background-color:#6BFFE4;
	height:100vh;
}

.about {
	background-color: ;
	height:80vh;
}

.projects {
	background-color:#A3FFBF;
	height:80vh;
}

.skills {
	height:80vh;
	background-color: #; 
}

.blog {
	background-color: #C4FC9F;
	height:80vh;
}

.contact {
	height:80vh;
	background-color: ;
}

.footer {
	background-color:#CBE632;
	height:40vh;
}

.twitter {
	background-image: url('twitter.png');
}

.technology li, .social-list li {
	list-style-type: none;
	display: inline-block;
	padding: 5%;

}

.list-projects li {
	margin-right: 10%;
	margin-left: 10%;
	list-style-type: none;
	display: inline-block; 
}

.link-project {
	/*padding: 2%;*/
}

.more-me {
	padding: 2%;
	/*font-family: 'Roboto', sans-serif;
	font-size: 120%*/
}


