<div class='all'>
<section class='intro' style='background-color:#E0E0E0;height:600px;width:100%;'>	
	<div class='wrap'>
		<p class='header'>Jessica G.</p>
		<p class='title'>Web Developer</p>
		<p class='content'>Bacon ipsum dolor amet pancetta venison frankfurter</p>		
	</div>
</section>

<section class='about' style='height:600px;'>
	<div class='wrap'>
		<p class='header'>About Me</p>
		<p class='content'>Blah blah blah</p>
	</div>
</section>

<section class='projects' style='background-color:#FFCCCC;height:600px;'>
	<div class='wrap'>
		<p class='header'>Projects</p>
		<p class='content'>Blah blah blah</p>
	</div>
</section>

<section class='skills' style='	height:600px;'> 
	<div class='wrap'>
		<p class='header'>Skills</p>
	</div>
</section>

<section class='blog' style='background-color:grey;height:600px;'>
	<div class='wrap'>
		<p class='header'>Blog</p>
	</div>
</section>

<section class='contact' style='height:600px;'>
	<div class='wrap'>
		<p class='header'>Contact</p>
		<p class='content'>Blah blah blah</p>
		<div class="social">
        <a href="https://www.twitter.com/JessicaGreben" target="_blank"><img src="twitter.png"></a>
        <a href="https://www.linkedin.com/pub/jessica-grebenschikov/a8/7b0/b8a/" target="_blank"><img src="linkin.png"></a>
        <a href="https://github.com/jessygreben" target="_blank"><img src="g+.png"></a>
    </div>
	</div>
</section> 

<section class='footer' style='background-color:#D75878;height:400px;'>
<p>&copy; 2015 Jessica Grebenschikov</p>
</section>
</div>

	

