<div class='content-container'>
	<section class='intro' id='home'>	
		<div class='wrap'>
			<p class='name'>Jessica G.</p>
			<p class='title'>Web Developer</p>
			<p class='content'>Developing web applications for healthcare, for games, and for fun.</p>	
			<p class='arrow'> <a href="#about-me"><i class="fa fa-chevron-down fa-2x"></i></a></p>	
		</div>
	</section>

	<section id='about-me' class='about'>
		<div class='wrap'>
			<p class='me-img'><img src='me.jpeg'></p>
			<p class='header'>About Me</p>
			<p class='content'>Moving from healthcare to software development, I am passionate about creating beautiful and worthwhile programs that improve people's lives.</p>
			<p class='more-content'>
				I am an ex-research scientist, a healthcare professional and a full stack web developer. I am looking forward to combining my love of science and healthcare to create powerful programs to impact the health and wellness of many.</p>
			<a class='more-me' href="#"><i class="fa fa-chevron-down"></i><span class='more-me'>more</span></a>
		</div>
	</section>

	<section id='project' class='projects'>
		<div class='wrap'>
			<p class='header'>Projects</p>
			<ul class='link-container'>
				<li>
					<a class='lifetime-link ' href="#">
						<i class="fa fa-chevron-down lifetime-down"></i>
						LifeTime
					</a>
				</li>
				<li>
					<a class='project2-link' href="#">
						<i class="fa fa-chevron-down project2-down"></i>
						Project 2
					</a>	
				</li>
			</ul>

			<p class='project-content lt-content'>
				Lead a team of four to build a personalized application that utilizes wearable device technology and health data to inspire users to engage in healthy life choices.  
				<p class='project-content lt-content'>Technologies used: <br>Rails, JavaScript (AJAX, jQuery), HAML, D3, PostgreSQL, FitBit and Jawbone API, Rspec, Capybara 
				</p>
				<p class='project-content lt-content'><a href="https://github.com/JessyGreben/LifeTime" style='text-decoration: underline;' target="_blank">Github</a></p>
				<p class='project-content lt-content'><a href="http://life-time.herokuapp.com" style='text-decoration: underline;' target="_blank">Life-Time.com</a></p>
			</p> 
			<p class='project-content p2-content'>
				Lead a team of four to build a personalized application that utilizes wearable device technology and health data to inspire users to engage in healthy life choices.  
				<p class='project-content p2-content'>Technologies used: <br>Rails, JavaScript (AJAX, jQuery), HAML, D3, PostgreSQL, FitBit and Jawbone API, Rspec, Capybara 
				</p>
				<p class='project-content p2-content'><a href="https://github.com/JessyGreben/LifeTime" style='text-decoration: underline;' target="_blank">Github</a></p>
				<p class='project-content p2-content'><a href="http://life-time.herokuapp.com" style='text-decoration: underline;' target="_blank">Project2.com</a></p>
			</p>
		</div>
	</section>

	<section class='skills' id='skill'> 
		<div class='wrap'>
			<p class='header'>Skills</p>
			<p class='content'>Full stack Rails development, emphasis on Javascript, TDD and Agile</p>
			<div class='tech'>
				<ul class='technology'>
					<li><i class="fa fa-diamond fa-4x"></i></li>
					<li><i class="icon-ruby-on-rails-alt fa-4x"></i></li>
					<li><i class="icon-javascript fa-4x"></i></li>
					<li><i class="icon-postgres fa-4x"></i></li>
				</ul>
			</div>
		</div>
	</section>
	<section class='blog' id='blogs'>
		<div class='wrap'>
			<p class='header'>Blog</p>
			<p class='content'>Things I've learned along the way.</p>
			<a class='blog-icon' href="https://jessygreben.github.io/blog.html"><i class="fa fa-chevron-down"></i><span class='blog-icon'>read me</span></a>
			<!-- <p class=''>Recent posts</p> -->
			<!-- <ul class='link-container'>
				<li>
					<a href="#">
						<i class="fa fa-chevron-down"></i>
						Test Driven Development
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-chevron-down"></i>
						Javascript and Friends
					</a>	
				</li>
				<li>
					<a href="#">
						<i class="fa fa-chevron-down"></i>
						Refeactoring is fun, I swear
					</a>	
				</li>
			</ul> -->

		</div>
	</section>

	<section class='contact' id='contacts'>
		<div class='wrap'>
			<p class='header'>Contact Me</p>
			<p class='content'></p>
			<div class="social">
					<ul class='social-list'>
	        	<li><a href="https://www.twitter.com/JessicaGreben" target="_blank"><i class="fa fa-twitter-square fa-4x"></i></a></li>
	        
	        	<li><a href="https://www.linkedin.com/pub/jessica-grebenschikov/a8/7b0/b8a/" target="_blank"><i class="fa fa-linkedin-square fa-4x"></i></a></li>
	        	<li><a href="https://github.com/jessygreben" target="_blank"><i class="fa fa-github fa-4x"></i></a></li>
	        	<li><a href="#" target="_blank"><i class="fa fa-envelope-square fa-4x"></i></a></li>
	        	
	        </ul>
	    </div>
		</div>
	</section> 



	<section class='footer' >
		<div>
			<p>&copy; 2015 Jessica Grebenschikov</p>
		</div>
	</section>
</div>
	

