<!DOCTYPE html>
<html>
<head>
<title>Site</title>
</head>
<style>
* {margin:0; padding:0;}
</style>
<body>

		<div class='first' style='background-color:#E0E0E0;height:600px;width:100%;'>
			<div class='nav'>
			
		</div>
		<div class='second' style='height:600px;'>
		</div>
		<div class='third' style='background-color:#FFCCCC;height:600px;'>
		</div>
		<!-- <div class='fourth' style='	height:600px;'>  -->
		<!-- </div> -->
		<div class='fifth' style='background-color:grey;height:600px;'>
		</div>
		<div class='second' style='height:600px;'>
		</div> 
		<div class='sixth' style='background-color:#D75878;height:600px;'>
		</div>


	<script src="http://fb.me/JSXTransformer-0.11.1.js"></script>
	<script src="http://fb.me/react-0.11.1.js"></script>
	<script type="text/jsx">  
	/** @jsx React.DOM */ 

		var MessageBox = React.createClass({
			render: function() {
				return (
					<div>
						<h1>B</h1>
						<p>C</p>
					</div>
				);
			}
		});

		React.renderComponent(
	  <MessageBox />,
	  document.getElementsByClassName('first')
			)


	</script>
 </div>
</body>

</html>