<div class='all'>
<section class='intro'>	
	<div class='wrap'>
		<p class='name'>Jessica G.</p>
		<p class='title'>Web Developer</p>
		<p class='content'>Bacon ipsum dolor amet pancetta venison frankfurter</p>	
		<p class='arrow'> <a href="#about-me"><i class="fa fa-chevron-down fa-2x"></i></a></p>	
	</div>
</section>

<section class='about' id='about-me'>
	<div class='wrap'>
		<p class='header'>About Me</p>
		<p class='content'>Moving from healthcare to software development, I am passionate about creating beautiful and worthwhile programs that improve people's lives.</p>
		<a class='more-me' href="#"><i class="fa fa-chevron-right"></i><span class='more-me'>more</span></a>
	</div>
</section>

<section class='projects'>
	<div class='wrap'>
		<p class='header'>Projects</p>
		<ul class='list-projects'>
			<li><a class='link-project' href="#"><i class="fa fa-chevron-right"></i><span class=''>LifeTime</span></a></li>
			<li><a class='link-project' href="#"><i class="fa fa-chevron-right"></i><span class='link-project'>ToBitch</span></a></li>
		</ul>
		<!-- <p class='content'>Bacon ipsum dolor amet pancetta venison frankfurter</p> -->
	</div>
</section>

<section class='skills'> 
	<div class='wrap'>
		<p class='header'>Skills</p>
		<p class='content'>Bacon ipsum dolor amet pancetta venison frankfurter</p>
		<!-- <i class="fa fa-camera-retro"></i>  -->
		<ul class='technology'>
			<li><i class="fa fa-diamond fa-3x"></i></li>
			<li><i class="icon-ruby-on-rails-alt fa-3x"></i></li>
			<li><i class="icon-javascript fa-3x"></i></li>
			<li><i class="icon-postgres fa-3x"></i></li>
		</ul>

	</div>
</section>

<section class='blog' >
	<div class='wrap'>
		<p class='header'>Blog</p>
		<p class='content'>Technical stuff I have learned along the way.</p>
	</div>
</section>

<section class='contact' >
	<div class='wrap'>
		<p class='header'>Contact</p>
		<p class='content'>Blah blah blah</p>
		<div class="social">
				<ul class='social-list'>
        	<li><a href="https://www.twitter.com/JessicaGreben" target="_blank"><i class="fa fa-twitter-square fa-3x"></i></a></li>
        
        	<li><a href="https://www.linkedin.com/pub/jessica-grebenschikov/a8/7b0/b8a/" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a></li>
        	<li><a href="https://github.com/jessygreben" target="_blank"><i class="fa fa-github fa-3x"></i></a></li>
        	<li><a href="https://github.com/jessygreben" target="_blank"><i class="fa fa-envelope-square fa-3x"></i></a></li>
        	
        </ul>
    </div>
	</div>
</section> 

<section class='footer' >
<p>&copy; 2015 Jessica Grebenschikov</p>
</section>
</div>

	

