<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Lora|Roboto:500,400|Montserrat:700,400' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <title>Jess G - Web Developer</title>
</head>

<body>
  <div class='container'>
    <div class='page-nav'>
    <div class='logo'>
      JG
    </div>
      <ul>
        <li><a href="">Blog</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Skills</a></li>
        <li><a href="">Projects</a></li>
        <li><a href="">About</a></li>
      </ul>
    </div>
    <%= yield %>
  </div>
  <script src="/js/application.js"></script>
</body>
</html>
