<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/blog.css">
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Lora|Roboto:500,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/font-mfizz.css">
 
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <title>Jess G - Web Developer</title>
</head>

<body>
    <%= yield %>
  
  <script src="/js/application.js"></script>
</body>
</html>
