<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Lora|Roboto:500,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/font-mfizz.css">
 
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <title>Jess G - Web Developer</title>
</head>

<body>
  <div class='container'>
    <div class='page-nav'>
      <div class='mobile-nav'>
        <a href='#' class='menu-nav'><i class='fa fa-bars'></i>Menu</a>
      </div>
      <div id='toggle-menu'>
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#about-me">About</a></li>
          <li><a href="#project">Projects</a></li>
          <li><a href="#skill">Skills</a></li>
          <li><a href="#contacts">Contact</a></li>
          <li><a href="#blogs">Blog</a></li>
        </ul>
      </div>
      <div class='nav-list'>
      <ul >
      <!-- <img class='img-me' src='me.jpeg'> -->
        <li><a href="#home">Home</a></li>
        <li><a href="#about-me">About</a></li>
        <li><a href="#project">Projects</a></li>
        <li><a href="#skill">Skills</a></li>
        <li><a href="#contacts">Contact</a></li>
        <li><a href="#blogs">Blog</a></li>
      </ul>
      </div>
    </div>
    <%= yield %>
  </div>
  <script src="/js/application.js"></script>
</body>
</html>
